.section-advantage .list {
    display: flex;
    margin-bottom: 94px;
  }
  
  .list__ico-advantage {
    display: block;
    margin-bottom: 30px;
    height: 100%;
    width: 100%;
    height: 70;
    width: 65px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .advantage-div {
    background-color: #f5f4fa;
    height: 120px;
  
    margin-bottom: 30px;
    margin-right: 30px;
  }
  
  .advantage-div .list__item {
    background-color: var(--background-color);
  }
  
  .list__advantage-paragraph {
    margin-right: 30px;
  }
  
  .container-advantage {
    align-content: stretch;
  }
  
  .list__advantage-title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .list__advantage-paragraph {
    font-weight: 400px;
    font-size: 14px;
    line-height: 1.7;
  }