.footer-logo__logo-second-footer {
    color: var(--background-color);
    font-family: "Raleway";
    font-weight: 700px;
    font-size: 26px;
    line-height: 1.2;
  }
  
  .footer-list {
    padding-top: 20px;
    list-style: none;
  }
  .footer-list .footer-item {
    margin-bottom: 9px;
  }
  
  .footer-logo {
    margin-right: 70px;
  }
  
  .footer {
    background-color: var(--hero-background);
  }
  .footer-adress {
    color: var(--background-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
  }
  .footer-contacts {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    &:focus,
    &:hover {
      color: var(--accent-color);
    }
  }
  
  
  .test {
    display: flex;
  }
  
  .footer .link {
    text-decoration: none;
  }
  
  .footer-list .footer-contacts {
    text-decoration: none;
  }

  .footer-logo__logo-first {
    color: var(--accent-color);
    font-family: "Raleway";
    font-weight: 700px;
    font-size: 26px;
    line-height: 1.2;
  }