
.header .container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}
.adress-nav {
  display: flex;
  align-items: center;
}
.adress-nav__item {
  margin-left: 10px;
  margin-right: 30px;
  list-style: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* logo */




.site-nav-list .link {
  text-decoration: none;
}

.adress-nav .header-adress {
  text-decoration: none;
}


/* site-nav */

.site-nav-list {
  display: flex;
  margin-left: 93px;
}

.site-nav-list .link {
  display: block;
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  position: relative;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  &:hover,
  &:focus,
  &.current {
    color: var(--accent-color);
  }
}

.link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: -5px;
  border-radius: 30px;
}



.adress-nav {
  display: flex;
  margin-left: auto;
}

.site-nav-list__item:last-child {
  margin-right: 0px;
}

/* Адрес */
.header-adress {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  &:hover use,
  &:focus use,
  &:hover,
  &:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
  }
}



.ico-adress {
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  &:hover {
    fill: var(--accent-color);
  }
}

