.hero {
    text-align: center;
    border: 1px solid #ececec;
    margin-bottom: 94px;
    padding: 200px 0;
  }
  
  .overlay {
    height: 600px;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 94px;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2f303a66;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/HeroOverlay.jpeg);
  }
  
  .hero__title {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--background-color);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-transform: uppercase;
    padding-bottom: 30px;
  }
  
  