.team {
    padding: 94px 0;
    background-color: var(--portfolio-button);
  }
  
  .team-list {
    display: flex;
  }
  .team-list {
    list-style: none;
  }
  
  
  
  .team-list__team-title {
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
  .team-list__team-paragraph {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
  }
  .team-list__team-img {
    padding-bottom: 30px;
  }
  
  .team-list__team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  .team-list__team-title {
    padding-bottom: 10px;
    border-radius: 0px 0px 4px 4px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
      &:not(:last-child) {
        margin-right: 30px;
      }
  }
  
  