.footer-list {
    @media screen and (min-width: 1200px) {
      margin-right: 70px;
    }
  }
  
  .list-size {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-around;
    }
  }
  
  .footer-list__address {
    color: #ffffff;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 8px;
  }
  
  .footer-list__mail {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    margin-top: 0;
    margin-bottom: 8px;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  
  .footer-list__tel {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    margin-top: 0;
    margin-bottom: 60px;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  
  .footer-list__link {
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.6);
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }