.nav {
    display: flex;
    align-items: center;
  
    @media screen and(max-width:767px) {
      justify-content: space-between;
    }
  }
  
  .site-nav {
    display: none;
  
    @media screen and(min-width:768px) {
      display: flex;
      margin-left: 88px;
    }
  }
  
  .site-nav__item {
    margin-right: 50px;
  }
  
  .site-nav__item:last-child {
    margin-right: 0;
  }
  
  .site-nav__link {
    color: var(--title-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 14px;
    line-height: 1.14;
    position: relative;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  
    padding-top: 32px;
    padding-bottom: 32px;
  
    &--current {
      color: var(--accent-color);
      &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 4px;
        background-color: rgba(33, 150, 243, 1);
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: -1px;
      }
    }
  }