.team-social {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  .team-social__social-item { 
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ffffff;
    margin-bottom: 30px;
    margin-right: 10px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    &:hover use,
    &:hover {
      fill: var(--background-color);
      background-color: var(--accent-color);
      transition: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:last-child {
      margin-right: 0px;
    }
  }
  
  
  
  

  .footer-social {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  .footer-social-link {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  
  
  .social-title {
    margin-top: 12px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .footer-social-item {
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ffffff1a;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    margin-bottom: 30px;
    margin-right: 10px;
    &:hover {
      background-color: var(--accent-color);
    }
  }
  
  .team-social__social-icon {
    fill: #afb1b8;
  }
  
  
  
  .footer-social-icon {
    fill: #ffffff;
  }
